.article-container {
  padding: 0;
  .article-body-content {
    padding: 15px;
    p {
      font-size: 18px;
      text-align: justify;
    }
  }
  .article-img{
    width: 100%;
  }
  .facebook-fanpage{
    padding-top: 35px;
  }
}
