.footer{
 background-color: $footer-background;
 color: $footer-font-color;

  .footer-column{
    padding-bottom: 8px;
  }
  .footer-column-left-border{
    padding-bottom: 1px;
    margin-bottom: 40px;

  }
  .footer-social-media-list{
    list-style-type: none;
    padding-left: 15px;
    font-size: 18px;
  }
  .footer-short-desc{
    margin-right: 20px;
  }
  .footer-social-item{
    a {
      color: $footer-font-color;
    }
  }
}

.bottom-break{
  @media (max-width: 770px) {
    padding-bottom: 50px;
  }
}