@inherits UmbracoViewPage<Webdotnet.Custom.ViewModels.ArticleBodyTextViewModel>
<div class="article-body-section">
    <div id="content" class="article-body-content">
        @Model.Body
    </div>

</div>