@inherits UmbracoViewPage<Webdotnet.Custom.ViewModels.HeadlineViewModel>

<section class="headline">
  <h1 class="headline-header">@Model.Header</h1>
  <div class="headline-body">
    @Model.Body
  </div>  
</section>