@inherits UmbracoViewPage<Webdotnet.Custom.ViewModels.SectionErrorViewModel>

<section class="error-section">
  <p class="error-message">
    There was an error during rendering section <span class="error-message-section-name">@Model.SectionName</span>   
  </p>
</section>