@inherits UmbracoViewPage<Webdotnet.Custom.ViewModels.YouTubeIFrameViewModel>
<div class="youtube-iframe">
  <iframe id="ytplayer" type="text/html" width="100%" height="100%"
          src="@Model.Url?autoplay=0&origin=https://www.webdotnet.pl"
          frameborder="0">
    
  </iframe>
</div>